## 꼭 알아두어야 할 자료구조 : 배열 (Array)

- 데이터를 나열하고, 각 데이터를 인덱스에 대응하도록 구성한 데이터 구조
- 파이썬에서는 리스트 타입이 배열 기능을 제공하고 있음.

## 1. 배열이 왜 필요할까?

- 같은 종류의 데이터를 효율적으로 관리하기 위해 사용.
- 같은 종류의 데이터를 순차적으로 저장

- 배열의 장점:
    - 빠른 접근 가능(index 번호로 쉽게 찾을 수가 있다.)
- 배열의 단점:
    - 데이터 추가/삭제가 쉽지 않다.(최대 길이를 알지 못하면 추가하는데 어렵고, 삭제할 때에는 기존 데이터를 앞으로 당겨와야 하므로 이도 어렵다.)

## 2. 파이썬과 C언어의 배열 예제

In [ ]:
#include<stdio.h>

int main(int argc, char * argv[])
{
    char country[3] = "US"; #배열의 size를 미리 정해놓음, 세 자리 이상의 데이터를 넣으려면 변수를 재지정하는 수 밖에 없다.
    printf("%c%c\n", country[0], country[1]);
    printf("%s\n", country);
    return 0;
}

In [4]:
country = 'US'
print(country)

country = country + 'A'
print(country)

US
USA

## 3. 파이썬과 배열
- 파이썬 리스트 활용

In [5]:
# 1차원 배열: 리스트로 구현 시
data = [1, 2, 3, 4, 5]
data

[1, 2, 3, 4, 5]

In [6]:
# 2차원 배열: 리스트로 구현 시
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
print(data[0])

[1, 2, 3]

In [11]:
print(data[0][0])
print(data[0][1])
print(data[0][2])
print(data[1][0])

1
2
3
4

##  3. 프로그래밍 연습

#### 연습 1 : 위의 2차원 배열에서 9, 8, 7 순서로 출력해보기

In [16]:
print(data[2][2], data[2][1], data[2][0])

9 8 7

#### 연습 2 : 다음 dataset에서 전체 이름 안에 M이 몇번 나왔는지 빈도수 출력하기

In [19]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [22]:
m_count = 0 # 빈도 수를 나타내는 변수
for data in dataset:
    for index in range(len(data)):
        if data[index] == 'M':
            m_count += 1
            
print(m_count)

38